
body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(77, 77, 77, 0.87);
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  gap: 120px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 100px;
}

h2 {
  font-size: 1.8rem;
}

.project-container {
  min-width: 200px;
}

.project-container div,
.task-container__block
{
  display: flex;
  /* align-items: center; */
  justify-content: flex-start;
  gap: 20px;
}

.add-button {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(127, 210, 233);
  cursor: pointer;
  border: 1px solid transparent;
  font-weight: 600;
  font-family: inherit;
  color: white;
  font-size: 1.2rem;
  padding: 0px;
  height: 25px;
  width: 25px;
  flex-shrink: 1;
  vertical-align:middle;
}

.project-form {
  position: fixed;
  top: 10%;
  left: 35%;
  width: 300px;
  height: 150px;
  background-color: rgb(182, 227, 241);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 15px;
}

.project-form input {
  width: 70%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button-container {
  align-self: center;
  display: flex;
  justify-content: space-between;
  gap: 30px
}

.button-container button {
  width: 100px;
  padding: 5px 0px;
  border-radius: 5px;
  border: none;
  background-color: rgb(227, 121, 181);
  color: white;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  margin-top: 5px;
}

li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

li:hover {
  background-color: rgba(227, 121, 181, 0.803);
}

p {
  margin: 0;
}

.task-form {
  position: fixed;
  top: 10%;
  left: 35%;
  width: 300px;
  background-color: rgb(182, 227, 241);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  border-radius: 10px;
  gap: 15px;
}

.task-card {
  background-color: rgb(187, 214, 238);
  box-sizing: border-box;
  padding: 20px;
  border-radius: 10px;
  /* display: flex;
  justify-content: space-between; */
  width: 400px;
  align-items: center;
  margin-top: 10px;
  
}

.task-card p {
  display: block;
}

/* .task-card div {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */

.task-card__description {
  width: 200px;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  text-wrap: wrap;
  word-break: break-word;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}


.trash-btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
  margin-left: auto;
  align-self: self-start;
  /* margin-top: 5px; */
}

.close-task-form-btn {
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 1rem;
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
  color: rgb(146, 146, 146);
}

.task-form input,
textarea,
select {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

label {
  font-weight: 600;
  font-size: 1.1rem;
}

.task-form-row {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.task-form-btn {
  background-color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: 30px;
  margin-bottom: 10px;
  border: 3px solid rgb(227, 121, 181);
  font-weight: 500;
  cursor: pointer;
}